
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------------------
Common styles 
--------------------------------------------------------------------------*/
.fixed-width{
    width: 1100px;
    margin: auto;
}
h1, h2, h3, h4, h5 {
    color: #3A3A3A;
}
a{
    text-decoration: none;
}

/*-------------------------------------------------------------------------
Menu Bar
--------------------------------------------------------------------------*/
.navbars{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right ul li {
    list-style: none;
    margin-left: 20px;
}
.navbar-right ul li a{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
#menu-icon{
    font-size: 24px;
}

/*-------------------------------------------------------------------------
Banner section
--------------------------------------------------------------------------*/

.banner-section{
    margin: 50px 0;
    padding: 20px 0;
}
.banner-sections{
    padding: 40px 0;
}

.banner-right{
    position: relative;
}

.banner-rights2{
    position: absolute;
    top: 10px;
}

.banner-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-right img{
    width: 100%;
}
.banner-left h1{
    font-size: 3em;
}
.banner-left p{
    font-weight: 600;
}
.banner-left a{
    display: inline-block;
    padding: 6px 25px ;
    background: #E02C6D;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    margin-top: 30px;
}
.banner-left a span{
    margin-left: 10px;
}


































/*-------------------------------------------------------------------------- 
Media query
---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:480px){
    .fixed-width{
        width: 100%;
        margin: auto;
    }
    .hidden-for-mobile{
        display: none;
    }
    body{
        padding: 0 15px;
    }
    /* menubar */
    .navbars{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar-right ul {
        padding-left: 0px;
        border-bottom: 2px solid #E02C6D;
    }
    .navbar-right ul li {
        list-style: none;
        margin-left: 0px;
        margin: 10px 15px;
    }

    /* Banner section  */
    .banner-left{
        order: 2;
    }
    .banner-right{
        order: 1;
    }
    .banner-sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-section::before {
        background: none
    }
    .banner-left{
        text-align: center;
    }
    

}

/*--------------------------------------------------- 
For ipads, tablet:  
---------------------------------------------------*/
@media only screen and (min-width:481px) and (max-width:768px) {
    .fixed-width{
        width: 100%;
        margin: auto;
    }
    body{
        padding: 0 15px;
    }
    /* menubar */
    .navbars{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar-right ul {
        padding-left: 0px;
        border-bottom: 2px solid #E02C6D;
    }
    .navbar-right ul li {
        list-style: none;
        margin-left: 0px;
        margin: 10px 15px;
    }

    /* Banner section  */
    .banner-left{
        order: 2;
    }
    .banner-right{
        order: 1;
    }
    .banner-sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-section::before {
        background: none
    }
    .banner-left{
        text-align: center;
    }
}

/*-----------------------------------------
 For Small screen, laptop:  
-----------------------------------------*/
@media only screen and (min-width:769px) and (max-width:1024px) {
    .fixed-width{
        width: 100%;
        margin: auto;
    }
    body{
        padding: 0 25px;
    }
}

