
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------------------
Common styles 
--------------------------------------------------------------------------*/
.fixed-width{
    width: 1100px;
    margin: auto;
}
h1, h2, h3, h4, h5 {
    color: #3A3A3A;
}
a{
    text-decoration: none;
}

/*-------------------------------------------------------------------------
Menu Bar
--------------------------------------------------------------------------*/
.navbars{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right ul li {
    list-style: none;
    margin-left: 20px;
}
.navbar-right ul li a{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
#menu-icon{
    font-size: 24px;
}

/*-------------------------------------------------------------------------
Banner section
--------------------------------------------------------------------------*/

.banner-section{
    margin: 50px 0;
    padding: 20px 15px;
}
.banner-sections{
    padding: 40px 0;
}

.banner-right{
    position: relative;
}

.banner-rights2{
    position: absolute;
    top: 10px;
}

.banner-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-right img{
    width: 100%;
}
.banner-left h1{
    font-size: 3em;
}
.banner-left p{
    font-weight: 600;
}
.banner-left a{
    display: inline-block;
    padding: 6px 25px ;
    background: #E02C6D;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    margin-top: 30px;
}
.banner-left a span{
    margin-left: 10px;
}

/*-------------------------------------------------------------------------
Brand icons section
--------------------------------------------------------------------------*/

.brand-section{
    margin: 50px 0;
    padding: 0 15px;
}
.brand-sections{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 70px;
    padding: 20px 0;
    border-top: 1px solid #2a2a2a9f;
    border-bottom: 1px solid #2a2a2a9f;
}
.brand-sections img{
    width: 60px;
    height: 60px;
}

/*-------------------------------------------------------------------------
Product section
--------------------------------------------------------------------------*/

.product-section{
    margin: 100px 0;
    padding: 0 15px;
}
.product-section h1{
    text-align: center;
    margin-bottom: 50px;
}
.product-sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.product-card{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}
.product-card img{
    width: 100%;
}
.product-card p{
    color: grey;
    margin: 0;
    padding: 0;
}
.product-card h2{
    font-weight: 600;
}
.product-card h3{
    margin: 5px 0;
    font-size: 1.6em;
    font-weight: 600;
}
.rating{
    margin: 20px 0;
}
.rating a{    
    color: antiquewhite;
}
#star {
    color: gold  ;
}
#error{
    color: red;
}

.product-arrow-button{
    text-align: right;
    position: relative;
}
.product-arrow-button a{
    display: inline-block;
    position: absolute;
    color: #E02C6D;
    right: 0;
    top: 40px;
}
.product-arrow-button a span{
    margin-left: 15px;
}
/*-------------------------------------------------------------------------
Feature section
--------------------------------------------------------------------------*/
.feature-section{
    margin: 50px 0;
}
.feature-sections{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}
.feature-sections img{
    width: 100%;
}

.feature-right{
    width: 60%;
}
.feature-right h1{
    font-size: 2.5em;
}
.feature-right p{
    font-weight: 600;
    color: #2a2a2a;
}
.feature-right a{
    display: inline-block;
    padding: 10px 30px;
    background: #E02C6D;
    color: white;
    font-weight: 600;
    margin: 30px 0;
}
.feature-right a span{
    margin-left: 10px;
}


/*-------------------------------------------------------------------------
Footer section
--------------------------------------------------------------------------*/
.footer{
    text-align: center;
    padding: 50px 0 ;
    background: #0A0826;
    color: white;
}

.footers h2{
    color: white;
}

.footer-icon span a{
    color: white;
    padding: 8px 15px;
    background: #22213C;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    border-radius: 50%;
    display: inline-block;
}

.footer-icon span a:hover{
    background: #E02C6D;
    color: white;
}


/*-------------------------------------------------------------------------
Bonus section
--------------------------------------------------------------------------*/
.extra-section{
    margin: 50px 0;
    position: relative;
}
.extra-sections{
    position: relative;
}
.extra-image img{
    width: 100%;
}


.extra-detail{
    text-align: center;
    box-shadow: 10px 10px 15px rgba(112, 109, 109, 0.5);
    width: 70%;
    padding: 0px 0px 30px 20px;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    background: white;
    bottom: 5%;
    left: 15%;
}
.extra-details{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: auto;
}
.extra-detail-left{
    /* border: 1px solid black; */
    flex-grow: 4;
}
.extra-detail-right{
    /* border: 1px solid black; */
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.extra-form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.extra-detail-left h2{
    margin-top: 0;
    padding-top: 0;
}
.extra-form input{
    padding: 10px 10px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 15px;
    width: 90%;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s;
}
.extra-form input:focus{
    border: 2px solid #E02C6D;
}

.extra-detail-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.extra-detail-right a{
    padding: 20px 25px ;
    color: white;
    background: #23A9F2;
    font-size: 1.5em;
    transition: all 0.3s;
}
.extra-detail-right a:hover{
    background: #E02C6D;
}






/*-------------------------------------------------------------------------- 
Media query
---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:480px){
    .fixed-width{
        width: 100%;
        margin: auto;
    }
    .hidden-for-mobile{
        display: none;
    }
    
    /* menubar */
    .navbars{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar-right ul {
        padding-left: 0px;
        border-bottom: 2px solid #E02C6D;
    }
    .navbar-right ul li {
        list-style: none;
        margin-left: 0px;
        margin: 10px 15px;
    }

    /* Banner section  */
    .banner-left{
        order: 2;
    }
    .banner-right{
        order: 1;
    }
    .banner-sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-section::before {
        background: none
    }
    .banner-left{
        text-align: center;
    }
    /* Product Section */
    .product-sections{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
    .product-arrow-button{
        text-align: right;
        position: relative;
    }
    .product-arrow-button a{
        display: inline-block;
        position: absolute;
        color: #E02C6D;
        right: 0;
        top: 30px;
    }
    /* feature section */
    .feature-sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 60px;
    }
    .feature-right{        
        width: 80%;
        text-align: center;
    }
    /* bonus section  */
    .extra-detail{
        text-align: center;
        box-shadow: 10px 10px 15px rgba(112, 109, 109, 0.5);
        width: 95%;
        padding: 0px 0px 30px 20px;
        margin: auto;
        border-radius: 10px;
        position: absolute;
        background: white;
        bottom: 5%;
        left: 3%;
        box-sizing: border-box;
    }
    .extra-details{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: stretch;
        width: 100%;
        margin: auto;
    }
    .extra-form input{
        padding: 10px 10px;
        border: 2px solid grey;
        border-radius: 5px;
        font-size: 15px;
        width: 100%;
    }
    .extra-detail-right a{
        padding: 5px 10px ;
        color: white;
        background: #23A9F2;
        font-size: 1.2em;
    }
}

/*--------------------------------------------------- 
For ipads, tablet:  
---------------------------------------------------*/
@media only screen and (min-width:481px) and (max-width:768px) {
    .fixed-width{
        width: 100%;
        margin: auto;
    }
    /* menubar */
    .navbars{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar-right ul {
        padding-left: 0px;
        border-bottom: 2px solid #E02C6D;
    }
    .navbar-right ul li {
        list-style: none;
        margin-left: 0px;
        margin: 10px 15px;
    }

    /* Banner section  */
    .banner-left{
        order: 2;
    }
    .banner-right{
        order: 1;
    }
    .banner-sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-section::before {
        background: none
    }
    .banner-left{
        text-align: center;
    }
    /* Product Section */
    .product-sections{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
    /*  feature section  */
    .feature-sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 0px;
        row-gap: 30px;
    }
    .feature-right{        
        width: 80%;
        text-align: center;
    }
}

/*-----------------------------------------
 For Small screen, laptop:  
-----------------------------------------*/
@media only screen and (min-width:769px) and (max-width:1024px) {
    .fixed-width{
        width: 100%;
        margin: auto;
    }
    .navbar{
        padding: 0 15px;
    }
    .feature-right{
        width: 50%;
    }
}

