
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------------------
Common styles 
--------------------------------------------------------------------------*/
.fixed-width{
    width: 1100px;
    margin: auto;
}
h1, h2, h3, h4, h5 {
    color: #3A3A3A;
}
a{
    text-decoration: none;
}

/*-------------------------------------------------------------------------
Menu Bar
--------------------------------------------------------------------------*/
.navbars{
    display: flex;
    justify-content: space-between;
}
.navbar-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right ul li {
    list-style: none;
    margin-left: 20px;
}
.navbar-right ul li a{
    color: #3A3A3A;
    font-size: 16px;
}
#menu-icon{
    font-size: 24px;
}

/*-------------------------------------------------------------------------
Banner section
--------------------------------------------------------------------------*/

.banner-left h1{
    font-size: 3em;
}
.banner-left p{
    font-weight: 600;
}
.banner-left a{
    display: inline-block;
    padding: 6px 25px ;
    background: #E02C6D;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    margin-top: 30px;
}
.banner-left a span{
    margin-left: 10px;
}